#title {
    text-align: center;
    margin-bottom: 50px;
}

#collections {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#collections > * {
    cursor: pointer;
    margin: 0 30px 30px 30px;
}

#spec-list {
    max-width: 1500px;
    border: 1px black solid;
    overflow-x: scroll;
}

#list-header {
    display: flex;
    width: 1450px;
    justify-content: center;
}

#spec {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* #name-input {
    min-width: 10%;
}

#email-input {
    width: 10%;
}

#pass-input {
    width: 8%;
}

#verif-select {
    width: 8%;
}

#phone-input {
    width: 8%;
}

#login-input {
    width: 12%;
}

#role-select {
    width: 8%;
}

#auth-select {
    width: 8%;
}

#create-input {
    width: 12%;
}

#update-input {
    width: 12%;
} */

.field-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

/* #field-label {
    display: flex;
    flex-wrap: wrap;
} */

#product-list {
    display: flex;
}

#product-id {
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
    
}
